*,
*::before,
*::after { box-sizing: border-box; }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--ara-color-lightgray);
    color: var(--ara-color-black);
}

#content { padding: 2rem; }
