@font-face {
    font-family: 'Track';
    src: url('../../fonts/Track.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Selima';
    src: url('../../fonts/Selima.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {

    /* colors */
    --ara-color-black: #2A2A2A;

    --ara-color-darkgray: #625F5B;
    --ara-color-gray: #A3A3A3;
    --ara-color-lightgray: #fcfcfc;

    --ara-color-darkblue: #033BA8;
    --ara-color-darkblue-darker: #022c85; /* Version plus foncée */
    --ara-color-blue: #71D0F6;
    --ara-color-lightblue: #E8F8FF;

    --ara-color-darkpink: #FA4E9A;
    --ara-color-pink: #F6ADCD;

    --ara-color-purple: #5C82CE;
    --ara-color-purple-darker: #4a6aaa; /* Une version un peu plus foncée pour le survol */

    --ara-color-red: #aa0000;

    --ara-color-white: #fff;

    /* Surcharge des variables Bootstrap */
    --bs-primary: var(--ara-color-darkblue);
    --bs-primary-rgb: 3, 59, 168; /* La version RGB pour les utilitaires (bg-*, text-*, etc.) */

    --bs-secondary: var(--ara-color-purple);
    --bs-secondary-rgb: 92, 130, 206; /* La version RGB pour le secondaire */

    /* Fonts */
    --font-family-base: 'Track', 'Roboto', sans-serif;
    --font-family-handwriting: 'Selima', cursive;

}