/* Base */
@import "base/variables.css";
@import "base/base.css";

/* Layout */
@import "layout/layout.css";
@import "layout/header.css";
@import "layout/footer.css";

/* Components */
@import "components/buttons.css";
@import "components/forms.css";



@import "components/donation-slider.css";

/* Pages */
@import "pages/login.css";
@import "pages/home.css";
@import "pages/gradins.css";
@import "pages/entrance.css";
@import "pages/reservations.css";

