
:root {

    /* colors */
    --ara-color-black: #2A2A2A;

    --ara-color-darkgray: #625F5B;
    --ara-color-gray: #A3A3A3;
    --ara-color-lightgray: #fcfcfc;

    --ara-color-darkblue: #033BA8;
    --ara-color-blue: #71D0F6;
    --ara-color-lightblue: #E8F8FF;

    --ara-color-darkpink: #FA4E9A;
    --ara-color-pink: #F6ADCD;

    --ara-color-purple: #5C82CE;
    --ara-color-purple-darker: #4a6aaa; /* Une version un peu plus foncée pour le survol */

    --ara-color-red: #aa0000;

    --ara-color-white: #fff;

    /* Surcharge des variables Bootstrap */
    --bs-primary: var(--ara-color-purple);
    --bs-primary-rgb: 92, 130, 206; /* La version RGB est utilisée par Bootstrap pour les transparences (ex: box-shadow) */

}

#content {
    padding: 2rem;
}

