
:root {
    --bs-primary: #5C82CE; /* Correspond à --ara-color-purple */

    /* colors */
    --ara-color-black: #2A2A2A;

    --ara-color-darkgray: #625F5B;
    --ara-color-gray: #A3A3A3;
    --ara-color-lightgray: #fcfcfc;

    --ara-color-darkblue: #033BA8;
    --ara-color-blue: #71D0F6;
    --ara-color-lightblue: #E8F8FF;

    --ara-color-darkpink: #FA4E9A;
    --ara-color-pink: #F6ADCD;

    --ara-color-purple: #5C82CE;

    --ara-color-red: #aa0000;

    --ara-color-white: #fff;

}

#content {
    padding: 2rem;
}

.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}