@import "header.css";
@import "main.css";
@import "gradins.css";


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main#main-page {
    flex: 1 0 auto;
    overflow-y: auto;
}

footer {
    flex-shrink: 0; /* Empêche le footer de rétrécir */
    position: sticky;
    bottom: 0;
    z-index: 100;
    background-color: var(--ara-color-darkblue); /* Assurez-vous que le fond est opaque */
}

@media (max-width: 1024px) {
    body {
        display: block !important;
        min-height: auto !important;
        height: auto !important;
    }

    footer {
        position: static;
    }
}