@import "header.css";
@import "main.css";
@import "gradins.css";


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main#main-page {
    flex: 1 0 auto;
    overflow-y: auto;
}

header {
    position: fixed;
    z-index: 1030; /* Valeur élevée pour rester au-dessus des autres éléments */
}

footer {
    flex-shrink: 0; /* Empêche le footer de rétrécir */
    position: sticky;
    bottom: 0;
    z-index: 100;
    background-color: var(--ara-color-darkblue); /* Assurez-vous que le fond est opaque */
}

@media (max-width: 1024px) {
    body {
        display: block !important;
        min-height: auto !important;
        height: auto !important;
    }

    main {
        margin-top: 50px;
    }

    footer {
        position: static;
    }
}


@media (min-width: 768px) {
    main {
        margin-top: 120px;
    }
    /* Limite la largeur du slider de don sur les écrans larges dans la page modifData */
    .donation-slider-container {
        max-width: 25%;
    }
}